/* Body */
body {
    padding-top: 10px;
    margin: 0 auto;
    background-image: linear-gradient(90deg, rgb(39, 167, 149), rgb(142, 150, 197));
}

h4 {
    font-family: 'viga', sans-serif;
    color: white;
    text-align: center;
    margin: 0 0 20px 0;
    font-size: 15px;
}

td {
    font-size: 7px;
    padding: 0 10px 0 0;
}

.td_h {
    width: 90px;
    vertical-align: middle;
    padding-top: 3px;
}

.td_b {
    border-bottom: 1px solid black;
    padding-top: 3px;
}

.image {
    border-bottom: 1px solid rgba(0,0,0,0);
    border-top: 1px solid rgba(0,0,0,0);
    border-left: 1px solid rgba(0,0,0,0);
}

img {
    width: 70px;
}

.logo {
    width: 100px;
}

.btn {
    margin-top: 20px;
    font-size: 10px;
}

.lbl {
        float: left;
        width: 70px;
}

label {
    margin: 2px;
}
    

@media (min-width: 992px) {
    body {
        margin: 0 auto;
        background-image: linear-gradient(90deg, rgb(129, 130, 142), rgb(28, 39, 101));
    }
    
    h4 {
        text-shadow: 2px 2px rgba(0,0,0,0.5);
        font-size: 30px;
        margin: 0 0 40px 0;
    }

    td {
        font-size: 15px;
    }

    .btn {
        margin-bottom: 20px;
        margin-top: 40px;
    }

    .image img {
        margin: 0 40px 0 0;
        border: 2px solid black;
        width: 150px;
    }

    .image {
        border-bottom: 1px solid rgba(0,0,0,0);
        border-top: 1px solid rgba(0,0,0,0);
        border-left: 1px solid rgba(0,0,0,0);
    }

    .td_h {
        width: 150px;
        border: none;
    }

    .logo {
        margin: -100px 0 0 0;
        border: none;
        width: 200px;
    }
    .container {
        border: 1px solid rgba(255,255,255,0.4);
        background-color: rgba(255,255,255,0.3);
        border-radius: 20px;
        margin: 100px auto;
        width: 950px;
    }

    table {
        border: none;
    }

    td{
        margin: 10px; 
        font-family: 'ubuntu', sans-serif;
    }
    
    .td_b {
        border-bottom: 1px solid black;
        width: 380px;
        padding-right: 20px;
    }
    
    .lbl {
        float: left;
        width: 130px;
    }

}